---
---
<footer class="w-full border-t-2 border-gray-300 py-10 flex justify-between">
    <section id="credits">
        <p class="font=mono">&copy; 2024 - Tcriss</p>
    </section>
    <section id="links">
        <a href="https://github.com/Tcriss/portfolio" target="_blank" class="font-mono">Source code</a>
    </section>
</footer>