---
---
<section id="hero" class="w-full h-screen flex gap-6 justify-center">
    <div id="resume" class="w-full md:w-1/2 flex flex-col gap-6 justify-center">
        <h1 class="font-bold text-4xl font-poppins">
            <strong class="font-jetbrains-mono font-bold inline-flex pt-2 overflow-x-hidden overflow-y-hidden animate-type group-hover:animate-type-reverse whitespace-nowrap text-brand-accent will-change-transform">Hello World</strong><span
                class="box-border inline-block w-1 h-12 ml-2 -mb-2 transparent md:-mb-4 md:h-16 animate-cursor will-change-transform"
            ></span>,
            I'm Cristian Tejeda, Web Developer
        </h1>
        <p class="font-raleway">I like to build digital experiences in every project I make.</p>
        <p id="resume" class="leading-8">
            My main focuse is Front-end, working in a company where I do my best
            with the angular framework. I can also build scalable and maintable APIs
            thanks to my knowledge adquired creating awesome projects with express & NestJS.
            So here I am giving my best at every single line of code I type. 
        </p>
        <div id="actions">
            <button id="resume-btn" class="font-jetbrains-mono bg-black text-white rounded-lg p-3 w-64">
                Resume =>
            </button>
        </div>
    </div>
    <div id="interactive" class="md:w-1/2 flex flex-col gap-6 justify-center"></div>
</section>