---
const { lang } = Astro.props;
const en = {
    presentation: "I'm Cristian Tejeda",
    description: `
        Web Developer specialized in frontend with some backend skills.
        I like to build digital experiences in every project I make.
    `,
    resumeBtn: "Resume ->"
};
const es = {
    presentation: "Soy Cristian Tejeda",
    description: `
        Desarrollador Web especializado en el frontend con algunos conocimientos en backend.
        Me encanta construir experiencias digitales en cada proyecto que elaboro.
    `,
    resumeBtn: "Curriculum ->"
};
---
<section id="hero" class="w-full h-screen flex gap-6 justify-center">
    <div id="resume" class="w-full md:w-1/2 flex flex-col gap-6 justify-center">
        <h1 class="font-bold text-4xl font-raleway">
            <strong class="font-jetbrains-mono font-bold inline-flex pt-2 overflow-x-hidden overflow-y-hidden animate-type group-hover:animate-type-reverse whitespace-nowrap text-brand-accent will-change-transform">Hello World</strong><span
                class="box-border inline-block w-1 h-12 ml-2 -mb-2 transparent md:-mb-4 md:h-16 animate-cursor will-change-transform"
            ></span>,
            { lang && lang === 'en' ? en.presentation : es.presentation }
        </h1>
        <p id="resume" class="leading-8">{ lang && lang === 'en' ? en.description : es.description }</p>
        <div id="actions">
            <button id="resume-btn" class="font-jetbrains-mono bg-black text-white rounded-lg p-3 w-64">{lang === 'en' ? en.resumeBtn : es.resumeBtn}</button>
        </div>
    </div>
    <div id="interactive" class="md:w-1/2 flex flex-col gap-6 justify-center"></div>
</section>