---
const { lang } = Astro.props;
const en = {
    presentation: "I'm Cristian Tejeda",
    description: `
        Web Developer specialized in frontend with some backend skills.
        I like to build digital experiences in every project I make.
    `,
    resumeBtn: "Resume"
};
const es = {
    presentation: "Soy Cristian Tejeda",
    description: `
        Desarrollador Web especializado en el frontend con algunos conocimientos en backend.
        Me encanta construir experiencias digitales en cada proyecto que elaboro.
    `,
    resumeBtn: "Curriculum"
};
---
<section id="hero" class="w-full bg-[radial-gradient(50%_90%_at_50%_10%,_var(--tw-gradient-stops))] from-sky-200 dark:from-stone-700 to-transparent h-screen px-5 flex flex-col gap-6 justify-center items-center text-center">
    <h1 class="font-bold text-center text-4xl font-raleway dark:text-white max-w-[500px]">
        { lang && lang === 'en' ? en.presentation : es.presentation }
    </h1>
    <p id="resume" class="leading-8 max-w-[500px]">{ lang && lang === 'en' ? en.description : es.description }</p>
    <div id="actions" class="flex flex-wrap gap-5">
        <a href={lang === 'en' ? '/resume.pdf' : '/curriculum.pdf' } target="_blank" class="text-sm items-center font-jetbrains-mono flex gap-2 dark:bg-slate-700 rounded-full border-2 border-slate-200 dark:border-slate-600 bg-slate-50/70 transition-all duration-500 p-2 active:scale-95">
            <i class="fi fi-sr-resume flex justify-center items-center text-black dark:text-white"></i>
            <p>{lang === 'en' ? en.resumeBtn : es.resumeBtn}</p>
        </a>
        <a href="mailto:cristiantejeda14@gmail.com" target="_blank" class="text-sm font-jetbrains-mono flex gap-2 dark:bg-slate-700 rounded-full border-2 border-slate-200 dark:border-slate-600 bg-slate-50/70 transition-all duration-500 p-2 active:scale-95">
            <i class="fi fi-sr-envelope flex justify-center items-center text-black dark:text-white"></i>
            <!-- <p>cristiantejeda14@gmail.com</p> -->
        </a>
        <a href="https://github.com/Tcriss" target="_blank" class="text-sm font-jetbrains-mono border-2 border-slate-200 dark:border-slate-600 bg-slate-50/70 flex gap-2 dark:bg-slate-700 rounded-full transition-all duration-500 p-2 active:scale-95">
            <i class="fi fi-brands-github flex justify-center items-center text-black dark:text-white"></i>
            <!-- <p>Github</p> -->
        </a>
        <a href="https://www.linkedin.com/in/cristiant25/" target="_blank" class="text-sm font-jetbrains-mono border-2 border-slate-200 dark:border-slate-600 bg-slate-50/70 flex gap-2 dark:bg-slate-700 rounded-full transition-all duration-500 p-2 active:scale-95">
            <i class="fi fi-brands-linkedin flex justify-center items-center text-black dark:text-white"></i>
            <!-- <p>Linkedin</p> -->
        </a>
    </div>
</section>