---
---
<section id="hero" class="w-full h-screen flex flex-col gap-6 justify-center">
    <h1 class="font-bold text-4xl"><strong class="font-mono font-bold">Hello World</strong>, I'm Cristian Tejeda, a Web Developer</h1>
    <p>I like to build digital experiences in every project I make.</p>
    <p id="resume">
        My main focuse is Front-end, working in a company where I do my best
        with the angular framework. I can also build scalable and maintable APIs
        thanks to my knowledge adquired creating awesome projects with express & NestJS.
        So I could say i'm full stack but i think I still have a long way to reach there.
        Meanwhile here I am to give my best at every single line of code I make. 
    </p>
    <div id="actions">
        <button id="resume-btn" class="font-mono bg-black text-white rounded-lg p-3 w-64">
            Resume
        </button>
    </div>
</section>