---
---
<div id="language-picker" class="grid absolute top-0 right-24 bg-white/80 backdrop-blur-xl gap-3 p-3 rounded-xl shadow-[rgba(7,_65,_210,_0.1)_0px_9px_30px]">
    <a href="/en/" class="text-sm p-2 rounded-lg font-jetbrains-mono font-bold hover:bg-black/10 active:text-white active:bg-black transition-colors duration-500">English</a>
    <a href="/es/" class="text-sm p-2 rounded-lg font-jetbrains-mono font-bold hover:bg-black/10 active:text-white active:bg-black transition-colors duration-500">Spanish</a>
</div>