---
import { Image } from 'astro:assets';
import type { Link } from '../interfaces';
import menuIcon from '../images/menu-dots-vertical.svg';
import closeIcon from '../images/cross-small.svg';

const { links } = Astro.props;
const routes: Link[] = links;
---
<section id="mobile-nav-bar" class="flex w-10/12 justify-between md:hidden">
    <section class="w-20 flex justify-center items-center">
        <h3 class="font-mono font-black">C A T R</h3>
    </section>
    <div id="nav-toggle" class="flex justify-end items-center">
        <button id="open-btn" class="w-12 h-12 flex justify-center items-center border-2 border-gray-500 rounded-xl">
            <Image src={menuIcon} width={'20'} height={'20'} alt="icon">
        </button>
    </div>
</section>
<aside id="aside-nav-bar" class="flex flex-col items-center justify-between translate-x-full transition-transform duration-500 gap-2 fixed z-50 top-0 w-screen h-screen bg-white/80 backdrop-blur-xl shadow-[rgba(7,_65,_210,_0.1)_0px_9px_30px]">
    <header class="w-10/12 h-20 font-mono flex justify-end items-center">
        <button id="close-btn" class="w-12 h-12 flex justify-center items-center border-2 border-gray-500 rounded-xl">
            <Image src={closeIcon} alt="Close" width={'20'} height={'20'}/>
        </button>
    </header>
    <ul id="content" class="w-full flex flex-col">
        {
            routes && routes.map(link => 
                <a href={link.path} class="p-8 font-mono hover:bg-slate-800 hover:text-white">{link.name}</a>
            )
        }
    </ul>
</aside>
<script src="../scripts/collapse-side-nav.js"/>