---
import type { Link } from '../interfaces';

const { routes, lang } = Astro.props;
const links: Link[] = routes;
---
<aside id="aside-nav-bar" class="flex invisible flex-col items-center justify-between translate-x-full transition-transform duration-500 gap-2 fixed z-50 top-0 w-screen h-screen bg-white/80 dark:bg-gray-700/80 backdrop-blur-xl shadow-[rgba(7,_65,_210,_0.1)_0px_9px_30px]">
    <header class="w-10/12 h-20 font-mono flex justify-end items-center">
        <button id="close-btn" class="flex relative transition-all duration-500 transparent hover:text-sky-500 justify-center items-center text-center w-8 h-8 focus:outline-none focus:ring-4 font-medium rounded-full text-lg bg-slate-200 dark:bg-slate-700 hover:bg-slate-100 focus:ring-sky-200">
            <i class="fi fi-bs-cross-small flex items-center justify-center"></i>
        </button>
    </header>
    <ul id="content" class="w-10/12 flex flex-col">
        {
            links && links.map(link => 
                <a id="mobile-nav-link" data-astro-history="replace" href={link.path} aria-label={link.label} class="mobile-nav-link p-[30px] transition-all duration-500 hover:bg-slate-100 dark:hover:bg-slate-600 hover:text-sky-500 dark:hover:text-white/80 rounded-3xl">{lang === 'en' ? link.en_name : link.es_name}</a>
            )
        }
    </ul>
</aside>
<script>
    import '../scripts/collapse-side-nav.js';
</script>