---
import type { Link } from '../interfaces';
import MobileNavBar from './mobile-nav-bar.astro';
import Settings from './settings.astro';

const { lang } = Astro.props;
const links: Link[] = [
  {
    en_name: 'Home',
    es_name: 'Inicio',
    label: 'hero',
    path: '#hero'
  },
  {
    en_name: 'About me',
    es_name: 'Sobre mi',
    label: 'about',
    path: '#about'
  },
  {
    en_name: 'Experience',
    es_name: 'Experiencia',
    label: 'experience',
    path: '#experience'
  },
  {
    en_name: 'Projects',
    es_name: 'Proyectos',
    label: 'projects',
    path: '#projects'
  }
];
---
<nav transition:name="nav-bar" id="nav-bar" class="flex gap-3 justify-center sticky top-6 rounded-full p-[10px] z-40 transition-all border-2 border-transparent duration-500 dark:shadow-none">
  <ul class="hidden md:flex justify-center gap-3 items-center">
    {
      links && links.map(link => 
        <li class="font-raleway font-bold rounded-[10px]">
          <a 
            data-astro-history="replace"
            class="p-[10px] transition-all duration-500 hover:bg-slate-100 dark:hover:bg-slate-600 hover:text-sky-500 dark:hover:text-white/80 rounded-full"
            href={link.path}
            aria-label={link.label}
          >
            {lang === 'en' ? link.en_name : link.es_name}
          </a>
        </li>
      )
    }
  </ul>
  <button id="open-btn" class="flex md:hidden relative transition-all duration-500 transparent hover:text-sky-500 justify-center items-center text-center w-8 h-8 focus:outline-none focus:ring-4 font-medium rounded-full text-lg bg-slate-200 dark:bg-slate-700 hover:bg-slate-100 focus:ring-sky-200">
    <i class="fi fi-bs-bars-staggered flex items-center justify-center"></i>
  </button>
  <Settings lang={lang}/>
</nav>
<MobileNavBar routes={links}/>
<script>
  import '../scripts/nav-bar';
  import '../scripts/scroll-spy';
</script>
<script src="../scripts/collapse-side-nav"/>