---
const links: { name: string, path: string }[] = [
  {
    name: 'Home',
    path: '#hero'
  },
  {
    name: 'Experience',
    path: '#experience'
  },
  {
    name: 'Projects',
    path: '#projects'
  }
]
---
<nav id="nav-bar" class="w-full flex justify-center h-20 fixed top-0 z-40">
  <div class="w-4/6 flex justify-between h-full">
    <section class="w-20"></section>
    <ul class="flex h-full justify-end gap-2 items-center">
      {
        links && links.map(link => 
          <li class="font-mono">
            <a href={link.path}>{link.name}</a>
          </li>
        )
      }
    </ul>
  </div>
</nav>
<script>
  import '../scripts/nav-bar';
</script>