---
import '@fontsource-variable/raleway';
import '@fontsource-variable/inter';
import '@fontsource-variable/jetbrains-mono';
import Footer from "../components/footer.astro";
import NavBar from "../components/nav-bar.astro";

const { pageTitle, lang } = Astro.props;
---
<!DOCTYPE html>
<html lang={lang}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <title>Cristian Tejeda</title>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-straight/css/uicons-bold-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-brands/css/uicons-brands.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-rounded/css/uicons-solid-rounded.css'>
</head>
<body class="flex font-inter flex-col dark:bg-gradient-to-b dark:from-slate-800 dark:to-[#151515] dark:text-white items-center">
    <NavBar lang={lang}/>
    <main class="w-10/12 md:w-4/6 grid gap-12">
        <slot/>
        <Footer lang={lang}/>
    </main>
</body>
</html>