---
const { section, name, description } = Astro.props;
---
<section id={section} class="grid gap-4">
    <header class="w-full grid gap-4 pt-20 md:pt-24">
        <h3 class="text-4xl font-bold font-jetbrains-mono">{name}</h3>
        <p class="font-raleway font-semibold text-black/50 dark:text-white/50">{description}</p>
    </header>
    <slot/>
</section>