---
const { section, name, description } = Astro.props;
---
<section id={section} class="grid gap-4">
    <header class="w-full grid gap-4">
        <h3 class="text-4xl font-bold font-mono">{name}</h3>
        <p class="font-semibold text-black/50">{description}</p>
    </header>
    <slot/>
</section>