---
const { section, name, description } = Astro.props;
---
<section id={section} class="grid gap-4">
    <header class="w-full grid gap-4 pt-20 md:pt-24">
        <h3 class="text-4xl font-bold font-jetbrains-mono">{name}</h3>
        <p class="font-raleway font-semibold text-black/50 dark:text-white/50">{description}</p>
    </header>
    <slot/>
</section>
<style>
    @media (prefers-reduced-motion: no-preference) {
            @supports (animation-timeline: scroll()) {
                p, h3 {
                    animation: reveal-text linear forwards;
                    animation-timeline: view();
                    animation-range: cover 0% entry-crossing 100%;
                }
            }
        }
        @keyframes reveal-text {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
    }
</style>